body {
	background: url("../images/milkyway.jpg");
	color: white;
	width: 100%;
}


.col-md-6 {
	text-align: center;
	padding-top: 100px;
	padding-left: 75px;
}

h1 {
	text-align: left;
}

.todo {
	align-content: right;
}